<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s1.bnk.alerts.evaluation.dao.EFDFileStatusMapper">

	<select id="prepareSubscriptionData" parameterType="map" statementType="CALLABLE" >
			{ call
				BNKAlrtSubscriptnDataSp(#{v_BNKCustomerKy,jdbcType=INTEGER,handler=com.s1.arch.ibatis.ObjectIdTypeHandler},
				#{v_alertTypeNm},
				#{v_reqStatus}, NULL, NULL, NULL, NULL, NULL) }
	</select>
	
	 <select id="getMatchingSubscriptions" parameterType="map" resultMap="com.s1.alerts.dao.AlertSubscriptionMapper.BaseResultMap">
	 	select * from <include refid="bnkAlrtSubscriptionsTempTable" />
	 </select>
	 
	  <select id="getMatchingSubscriptions-Oracle" parameterType="map" resultMap="com.s1.alerts.dao.AlertSubscriptionMapper.BaseResultMap">
	 	select * from <include refid="bnkAlrtSubscriptionsTempTable_oracle" />
	 </select>
	 
	 <sql id="bnkAlrtSubscriptionsTempTable">
		SESSION.bnkalrtsbscrptnDgtt
	</sql>

	 <sql id="bnkAlrtSubscriptionsTempTable_oracle">	 	
		bnkalrtsbscrptnDgtt		
	</sql>
	
	 <update id="dropAlrtSubscriptionsTempTable" >
		DROP TABLE <include refid="bnkAlrtSubscriptionsTempTable" />
	</update>
	
	<update id="dropAlrtSubscriptionsTempTable-Oracle" >
		select 1 from dual
	</update>
	
</mapper>