<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s1.arch.batch.lightweight.dao.LightweightBatchAffiliateUtilMapper">

	<select id="selectOidById" parameterType="string" resultType="com.s1.arch.utilities.ObjectId">
		SELECT COROrgKy
		FROM CORAffiliateFI
		WHERE affiliateId = #{affiliateId}
	</select>


</mapper>