<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.s1.arch.utilities.ObjectId" alias="ObjectId" />
	</typeAliases>
    <typeHandlers>
        <typeHandler handler="com.s1.arch.ibatis.ZeroOneBooleanTypeHandler" javaType="java.lang.Boolean" />
        <typeHandler handler="com.s1.arch.ibatis.ObjectIdTypeHandler" javaType="com.s1.arch.utilities.ObjectId" />
    </typeHandlers>
    <mappers>
	    <mapper resource="config/ibatis/AccountMapper.xml" />
		<mapper resource="config/ibatis/AccountWidgetMapper.xml" />
		<mapper resource="config/ibatis/AlertAffiliateChannelMapper.xml"/>
		<mapper resource="config/ibatis/AlertAffiliateOptionMapper.xml"/>
		<mapper resource="config/ibatis/AlertAffiliateUtilMapper.xml"/>
		<mapper resource="config/ibatis/AlertDeliveryChannelMapper.xml"/>
		<mapper resource="config/ibatis/AlertDestinationMapper.xml"/>
		<mapper resource="config/ibatis/AlertDestinationSubscriptionMapper.xml"/>
		<mapper resource="config/ibatis/AlertInboxMapper.xml"/>
		<mapper resource="config/ibatis/AlertInstanceHistoryMapper.xml"/>
        <mapper resource="config/ibatis/AlertInstanceHistorySegmentMapper.xml" />
        <mapper resource="config/ibatis/AlertMessageMapper.xml" />
		<mapper resource="config/ibatis/AlertParameterValueMapper.xml"/>
		<mapper resource="config/ibatis/BatchTransactionAlertMapper.xml"/>
		<mapper resource="config/ibatis/AlertTransactionParameterMapper.xml"/>
		<mapper resource="config/ibatis/AlertReminderMapper.xml"/>
		<mapper resource="config/ibatis/AlertStatusMapper.xml"/>
		<mapper resource="config/ibatis/AlertSubscriptionMapper.xml"/>
		<mapper resource="config/ibatis/AlertTypeMapper.xml"/>
		<mapper resource="config/ibatis/AlertTypeParameterMapper.xml"/>
		<mapper resource="config/ibatis/AlertUtilMapper.xml"/>
    	<mapper resource="config/ibatis/AuthorizationGrantMapper.xml" />
	    <mapper resource="config/ibatis/BankACHIATCountryAccountTypeMapper.xml" />    	
    	<mapper resource="config/ibatis/BAIRowProducerMapper.xml" />
    	<mapper resource="config/ibatis/BalancesChartWidgetMapper.xml" />
    	<mapper resource="config/ibatis/CorpGroupEntitlementsMapper.xml" />
        <mapper resource="config/ibatis/CSVReportDataMapper.xml" />
        <mapper resource="config/ibatis/CurrentDayStatementDetailMapper.xml" />
        <mapper resource="config/ibatis/CurrentDayStatementMapper.xml" />
        <mapper resource="config/ibatis/CustomerAccountMapper.xml" />
        <mapper resource="config/ibatis/CDCashTransactionMapper.xml" />
    	<mapper resource="config/ibatis/CustomerIdentityMapper.xml" />
		<mapper resource="config/ibatis/DeferredAlertMapper.xml"/>
        <mapper resource="config/ibatis/DeferredAlertSegmentMapper.xml" />
        <mapper resource="config/ibatis/EnumerationValueMapper.xml" />
        <mapper resource="config/ibatis/ExportAccountValueMapper.xml" />
        <mapper resource="config/ibatis/ExportAppFieldDefValueMapper.xml" />
        <mapper resource="config/ibatis/ExportBAITxnGrpValueMapper.xml" />
        <mapper resource="config/ibatis/ExportBinaryValueMapper.xml" />
        <mapper resource="config/ibatis/ExportExportFieldValueMapper.xml" />
        <mapper resource="config/ibatis/ExportFieldDefCdMapValueMapper.xml" /> 
        <mapper resource="config/ibatis/ExportFieldValueMapper.xml" />
        <mapper resource="config/ibatis/ExportProfileParametersMapper.xml" />
        <mapper resource="config/ibatis/ExportRequestValueMapper.xml" />
        <mapper resource="config/ibatis/ExportValueMapper.xml" />
        <mapper resource="config/ibatis/ExternalAcctDisclmrHistMapper.xml"/>
        <mapper resource="config/ibatis/FeatureMapper.xml"/>
		<mapper resource="config/ibatis/FunctionalOperationMapper.xml"/>
        <mapper resource="config/ibatis/GssoCustomerMapper.xml" />
        <mapper resource="config/ibatis/GssoCustomFieldDefMapper.xml" />
        <mapper resource="config/ibatis/GssoCustomFieldValueMapper.xml" />
        <mapper resource="config/ibatis/GssoDBLevelSyncMapper.xml" />
        <mapper resource="config/ibatis/GssoProviderAffiliateMapper.xml" />
        <mapper resource="config/ibatis/GssoProviderConfigMapper.xml" />
        <mapper resource="config/ibatis/GssoUrlMapper.xml" />
        <mapper resource="config/ibatis/GssoUserInfoMapper.xml" />
        <mapper resource="config/ibatis/GssoProductConfigMapper.xml" />
        <mapper resource="config/ibatis/GssoProvidersViewMapper.xml" />
        <mapper resource="config/ibatis/GssoUserMapper.xml" />
        <mapper resource="config/ibatis/OFXRowProducerMapper.xml" />
        <mapper resource="config/ibatis/OperationFeatureValueMapper.xml" />
        <mapper resource="config/ibatis/BalanceAlertEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/TransactionAlertEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/TransactionAlertsBulkEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/DailyAlertReminderMapper.xml" />
        <mapper resource="config/ibatis/CheckNumberClearedMapper.xml" />
        <mapper resource="config/ibatis/ACHAuthRuleExpirationMapper.xml" />
        <mapper resource="config/ibatis/EFDFileStatusMapper.xml" />
        <mapper resource="config/ibatis/ParameterlessSecurityAlertEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/PaymentCenterSummaryMapper.xml" />
		<mapper resource="config/ibatis/SingleSignonMapper.xml"/>
		<mapper resource="config/ibatis/SessionRegistryMapper.xml"/>
		<mapper resource="config/ibatis/SummaryFieldTypeMapper.xml" />
		<mapper resource="config/ibatis/SweepRuleValueMapper.xml"/>
		<mapper resource="config/ibatis/SweepRuleHistValueMapper.xml"/>
		<mapper resource="config/ibatis/SweepDsbmtValueMapper.xml"/>
        <mapper resource="config/ibatis/TemplateCenterSummaryMapper.xml" />
		<mapper resource="config/ibatis/UserAccessScheduleMapper.xml" />
        <mapper resource="config/ibatis/UserWidgetMapper.xml" />
        <mapper resource="config/ibatis/UserWidgetPreferenceMapper.xml" />
        <mapper resource="config/ibatis/UserEntitlementsOpsTargetsMapper.xml" />
        <mapper resource="config/ibatis/UserEntitlementsUsersGroupsMapper.xml" /> 
        <mapper resource="config/ibatis/WCDReportDataMapper.xml" />
        <mapper resource="config/ibatis/WidgetMapper.xml" />
        <mapper resource="config/ibatis/PosPayStsEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/ChBkrqsStsEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/PosPayExceptionEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/PosPayACHExceptionEvaluatorMapper.xml" />
        <mapper resource="config/ibatis/FraudControlAccountStatusEvaluatorMapper.xml" />
		<mapper resource="config/ibatis/TemplateChangeEvaluatorMapper.xml" />
		<mapper resource="config/ibatis/PaymentChangeEvaluatorMapper.xml" />
		<mapper resource="config/ibatis/RecipientChangeEvaluatorMapper.xml" />		
		<mapper resource="config/ibatis/PosPayAchCutoffRmndrMapper.xml" />
		<mapper resource="config/ibatis/MarketingMessageMapper.xml" />
		<mapper resource="config/ibatis/CampaignMapper.xml" />
        <mapper resource="config/ibatis/CampaignCustomerGroupQueryMapper.xml" />
		<mapper resource="config/ibatis/CampaignMarketingMessageMapper.xml" />
		<mapper resource="config/ibatis/CustomerGroupQueryMapper.xml" />
		<mapper resource="config/ibatis/CosParamMapper.xml"/>
		<mapper resource="config/ibatis/ActionItemCountMapper.xml"/>
        <mapper resource="config/ibatis/UserAndGrpEntlMapper.xml" />        
		<mapper resource="config/ibatis/ReportTokenByTypeMapper.xml" />   
		<mapper resource="config/ibatis/LoanNoteBalanceMapper.xml" />
		<mapper resource="config/ibatis/LoanCommSubCommBalanceMapper.xml" />     
        <mapper resource="config/ibatis/HoldingCompanyMapper.xml" />
		<mapper resource="config/ibatis/HoldingCompanySubsidiaryMapper.xml"/>
		<mapper resource="config/ibatis/HoldingCompanySubsidiaryUserMapper.xml"/>
        <mapper resource="config/ibatis/HoldingCompanyUserMapper.xml" />
        <mapper resource="config/ibatis/HoldingCompanyUserSubsidiaryAccessMapper.xml" />
		<mapper resource="config/ibatis/HoldingCompanyUserDisclaimerMapper.xml" />
		<mapper resource="config/ibatis/HCBankUserMapper.xml" />
        <mapper resource="config/ibatis/MobileReportSummaryMapper.xml"/>
		<mapper resource="config/ibatis/MobileReportUsageMapper.xml"/>
        <mapper resource="config/ibatis/MobileReportDTLAPIMapper.xml"/>
        <mapper resource="config/ibatis/MobileReportDTLXHTMLMapper.xml"/>
        <mapper resource="config/ibatis/MobileReportDTLSMSMapper.xml"/>    
		<mapper resource="config/ibatis/CoreAuditMapper.xml" />
    	<mapper resource="config/ibatis/CoreAuditSegmentMapper.xml" />
    	<mapper resource="config/ibatis/CoreAuditTypeMapper.xml" />
    	<mapper resource="config/ibatis/HoldingCompanyAuditMapper.xml" />
        <mapper resource="config/ibatis/PaymentRequestValueMapper.xml" />
        <mapper resource="config/ibatis/DestinationCountryCurrencyMapper.xml" />
        <mapper resource="config/ibatis/BankLookupServiceMapper.xml" />
		<mapper resource="config/ibatis/RecurrenceSpecificationMapper.xml" />
        <mapper resource="config/ibatis/SchedulingHintMapper.xml" />
		<mapper resource="config/ibatis/MobileApprovalACHMapper.xml" />
		<mapper resource="config/ibatis/MobileApprovalStopPayMapper.xml" />		
		<mapper resource="config/ibatis/MobileApprovalTemplateMapper.xml" />		
		<mapper resource="config/ibatis/MobileApprovalWireMapper.xml" />
		<mapper resource="config/ibatis/MobileApprovalTransferMapper.xml" />				
		<mapper resource="config/ibatis/MobileApprovalPositivePayMapper.xml" />						
		<mapper resource="config/ibatis/BnkOOBAUserMapper.xml" />
		<mapper resource="config/ibatis/GrantMapper.xml" />		
		<mapper resource="config/ibatis/GrantOperationMapper.xml" />	
		<mapper resource="config/ibatis/GrantTargetTypeMapper.xml" />
		<mapper resource="config/ibatis/GrantPrincipalMapper.xml" />
		<mapper resource="config/ibatis/LoanAccountTransactionMapper.xml" />
		<mapper resource="config/ibatis/MobileOobaSessionServiceMapper.xml" />
		<mapper resource="config/ibatis/AccountNotesMapper.xml" />
		<mapper resource="config/ibatis/AccountCommitmentMapper.xml" />
		<mapper resource="config/ibatis/AccountSubCommitmentMapper.xml" />
		<mapper resource="config/ibatis/ParsedCDStatementDetailMapper.xml" />
		<mapper resource="config/ibatis/ParsedCDStatementMapper.xml" />
		<mapper resource="config/ibatis/ParsedCDTransactionMapper.xml" />
		<mapper resource="config/ibatis/ParsedCDTransactionMemoMapper.xml" />
		<mapper resource="config/ibatis/ParsedPDStatementDetailMapper.xml" />
		<mapper resource="config/ibatis/ParsedPDStatementMapper.xml" />
		<mapper resource="config/ibatis/ParsedPDTransactionMapper.xml" />
		<mapper resource="config/ibatis/ParsedPDTransactionMemoMapper.xml" />
		<mapper resource="config/ibatis/CutoffTimeValueMapper.xml" />		
		<mapper resource="config/ibatis/AccountsAddIdentifierMapper.xml" />
		<mapper resource="config/ibatis/LoanNoteGrantMapper.xml" />
		<mapper resource="config/ibatis/PdayTrnRtUpdateStatusValueMapper.xml" />
		<mapper resource="config/ibatis/DestinationCountryCurrencyMapper.xml" />
		<mapper resource="config/ibatis/ColGiroThirdPartyValueMapper.xml" />
		<mapper resource="config/ibatis/ColGiroAuthorizedThirdPartyMapper.xml" />
		<mapper resource="config/ibatis/DestinationCountryCurrencyMapper.xml" />
		<mapper resource="config/ibatis/CountryAccountBankValueMapper.xml" />
		<mapper resource="config/ibatis/JobInstanceValueMapper.xml" />
        <mapper resource="config/ibatis/JobExecutionValueMapper.xml" />
        <mapper resource="config/ibatis/JobParameterValueMapper.xml" />
		<mapper resource="config/ibatis/ExceptionLogValueMapper.xml" />
		<mapper resource="config/ibatis/StepExecutionValueMapper.xml" />
		<mapper resource="config/ibatis/StepInstanceValueMapper.xml" />		
		<mapper resource="config/ibatis/InterstitialMessageButtonMapper.xml" />
		<mapper resource="config/ibatis/InterstitialMessageCustomerGroupQueryMapper.xml" />
		<mapper resource="config/ibatis/InterstitialMessageMapper.xml" />
		<mapper resource="config/ibatis/InterstitialMessageTypeMapper.xml" />
		<mapper resource="config/ibatis/UsersInterstitialMessageMapper.xml" />
		<mapper resource="config/ibatis/AuthorizationTargetMapper.xml" />		
	    <mapper resource="config/ibatis/SepaCreditorIDMapper.xml" />
		<mapper resource="config/ibatis/CheckbookRequestMapper.xml" />
		<mapper resource="config/ibatis/CheckbookRequestHistoryMapper.xml" />
		<mapper resource="config/ibatis/TransferSummaryMapper.xml" />
		<mapper resource="config/ibatis/WireConfirmEvaluatorMapper.xml" />	
		<mapper resource="config/ibatis/WireFxRateEvaluatorMapper.xml" />		
		<mapper resource="config/ibatis/GssoCheckFreeCustAcctMapper.xml" />
		<mapper resource="config/ibatis/GssoCheckFreeCustBillPayMapper.xml" />
		<mapper resource="config/ibatis/GssoCheckFreeUserMapper.xml" />
		<mapper resource="config/ibatis/COSFeatureMapper.xml" />
		<mapper resource="config/ibatis/COSParameterMapper.xml" />
		<mapper resource="config/ibatis/DynamicQueryMapper.xml"/>
		<mapper resource="config/ibatis/LastPDPostedDateMapper.xml"/>
		<mapper resource="config/ibatis/RealtimeDatabaseLoggerMapper.xml"/>
		<mapper resource="config/ibatis/SupportGroupMapper.xml" />
		<!-- <mapper resource="config/ibatis/SupportPersonMapper.xml" /> -->
		<mapper resource="config/ibatis/UIUserPreferenceMapper.xml"/>
		<mapper resource="config/ibatis/PDSummaryMapper.xml"/>
		<mapper resource="config/ibatis/CDSummaryMapper.xml"/>
		<mapper resource="config/ibatis/GeoLocationMapper.xml" />		
		<mapper resource="config/ibatis/AccountExportQBOOKMapper.xml"/>
		<mapper resource="config/ibatis/AccountExportBAIMapper.xml"/>
		<mapper resource="config/ibatis/AccountTxnExportBillingMapper.xml"/>
    </mappers>
</configuration>
