<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s1.bnk.alerts.evaluation.dao.WireFxRateEvaluatorMapper">
	
	<select id="getMatchingSubscriptions" parameterType="map" resultMap="AlertSubscriptionMap">
		SELECT bas.BNKALRTSBSCRPTNKY, bas.BNKALRTTYPEKY, bas.BNKUSERKY, bas.ISTRIGGERABLE, bas.LASTTRIGGEREDDTTM, bas.ISDISABLED
		FROM BnkAlrtSbscrptn bas, BnkAlrtType bat
		WHERE bas.BnkAlrtTypeKy = bat.BnkAlrtTypeKy
		   AND bat.AlertName = 'wireFxRtChng'
		   AND bas.BnkAlrtSbscrptnKy in (SELECT bapvAcct.BnkAlrtSbscrptnKy
										   FROM BnkAlrtTypeParm batp, BnkAlrtParmValue bapvAcct
										  WHERE bas.BnkAlrtSbscrptnKy = bapvAcct.BnkAlrtSbscrptnKy
											AND bapvAcct.BNKAlrtTypeParmKy = batp.BNKAlrtTypeParmKy
											AND batp.ParmName = 'account'
											AND bapvAcct.IntegerValue in ('-1', #{accountOid})
										)
										AND bas.BnkAlrtSbscrptnKy in (SELECT bapvAcct.BnkAlrtSbscrptnKy
										   FROM BnkAlrtTypeParm batp, BnkAlrtParmValue bapvAcct
										  WHERE bas.BnkAlrtSbscrptnKy = bapvAcct.BnkAlrtSbscrptnKy
											AND bapvAcct.BNKAlrtTypeParmKy = batp.BNKAlrtTypeParmKy
											AND batp.ParmName = 'transType'
											AND bapvAcct.IntegerValue in ('2', #{transType})
										)
		   
	</select>
	
	<resultMap id="AlertSubscriptionMap" type="com.s1.alerts.model.AlertSubscription" >
	    <id column="BNKALRTSBSCRPTNKY" property="oid" jdbcType="INTEGER" typeHandler="com.s1.arch.ibatis.ObjectIdTypeHandler" />
	    <result column="BNKALRTTYPEKY" property="alertTypeOid" jdbcType="INTEGER" typeHandler="com.s1.arch.ibatis.ObjectIdTypeHandler" />
	    <result column="BNKUSERKY" property="userOid" jdbcType="INTEGER" typeHandler="com.s1.arch.ibatis.ObjectIdTypeHandler" />
	    <result column="ISTRIGGERABLE" property="isTriggerable" jdbcType="CHAR" typeHandler="com.s1.arch.ibatis.ZeroOneBooleanTypeHandler" />
	    <result column="LASTTRIGGEREDDTTM" property="lastTriggered" jdbcType="TIMESTAMP" />	    
	    <result column="ISDISABLED" property="isDisabled" jdbcType="CHAR" typeHandler="com.s1.arch.ibatis.ZeroOneBooleanTypeHandler" />	    
	</resultMap>
	
		
</mapper>